<div class="history_entry">
  <div class="history_data">
    <div class="history_date">
      <div class="history_day">%day%</div>
      <div><div class="history_my">%month%</div><div class="history_my">%year%</div></div>
    </div>
    <div class="history_amount">%value%µg</div>
    <div class="history_expand"><span class="helper"></span><img src="img/arrow_down.png"/></div>
  </div>
  <div class="history-progress-bar">
    <img src="img/gradient.png" style="clip: rect(0px %px%px 20px 0px);" width="100%"/>
  </div>
  <!-- <a href="details.html#%id%" class="history_entry_data">
    <div class="history_entry_date">%date%</div>
    <div class="history_entry_amount">
      <div class="progress">
        <div class="progress-bar" style="width: %progress%%; background: linear-gradient(to right, #58ff32 0%,%color% 100%);">
          %value% mg
        </div>
      </div>
    </div>
  </a> -->
</div>
