
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background: #1B252F;
    color: white;
    height: 100vh;
}


.history_entry_data {
  width: 100%;
  color: white;
  text-decoration: none;
}

.history-progress-bar{
  height: 20px;
  background-color: #253341;
  margin-top: 7px;
  position: relative;
}

.history-progress-bar > img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}



.history_entry {
  padding-left: 40px;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  border-top: 1px dotted rgba(97,105,113,0.5);
}
.history_date {
  display: flex;
}
.history_day{
  font-size: 39pt;
  margin-top: -9px;
}
.history_amount{
  font-size: 39pt;
}
.history_my{
  font-size: 14pt;
}
.history_data {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#history_list_container {
  height: 93%;
  overflow: scroll;
}
#history_header {
  height: 7%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 47pt;
}
.progress {
    height: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #337ab7;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    transition: width .6s ease;
}

.history_entry_date, .history_entry_amount {
  color: white;
}


h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}
