@font-face {
    font-family: OpenSans-Regular;
    src: url(../fonts/OpenSans-Regular.ttf);
}

body{
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#content{
    width: 100%;
    height: 100vh;
    background-color: #1B252F;
}

#main {
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 65%;
    background-color: #1b252f;
}

#background{
    position:absolute;
    top: 12%;
    z-index: 1;
    height: 75%;
    background-color: #1B252F;
}

#dragon-overlay{
  clip: rect(0px,504px,452px,0px);
  transition: clip 2s;
}
.dragon{
    margin: 0 auto;
    position: absolute;
    top: 20%;
    left: 5%;
    z-index: 2;
}

#skala{
    position: absolute;
    top: 18%;
    right: 1%;
    z-index: 2;
}

#subwindow{
    margin: 0;
    position: absolute;
    top: 65%;
    width: 100%;
    height: 18%;
}

#wykres{
    height: 100%;
    width: 100%;
    border-top: 3px dotted rgba(97,105,113,0.5);
}

#wykres td{
    width: 20%;
    height: 25%;
    border-bottom: 3px dotted rgba(97,105,113,0.5);;
}

#wykres tr{
    height: 33%;
    min-height: 33%;
    padding: 0;
}
.jqplot-target{
  position: absolute !important;
  width: 100% !important;
  z-index: 20;
}



#wykres colgroup col:nth-child(2n){
    background-color: #1b252f;
}

#wykres colgroup col:nth-child(2n+1){
    background-color: #1d2833;
}

#toolbar{
    margin: 0;
    position: absolute;
    top: 88%;
    width: 100%;
    height: 12%;
    background-color: #1b252f;
    border-top: 2px solid #3d4e5f;
    z-index: 4;
}

#btn0{
    display: inline-block;
    width: 32%;
    margin: 0 auto;
    padding-top: 15px;
    text-align: center;
    font-family: OpenSans-Regular;
    font-size: 30px;
    color: #ffffff;
}

#btn1{
    display: inline-block;
    width: 32%;
    margin: 0 auto;
    padding-top: 15px;
    text-align: center;
    font-family: OpenSans-Regular;
    font-size: 30px;
    color: #ffffff;
}

#btn2{
    display: inline-block;
    width: 32%;
    margin: 0 auto;
    padding-top: 15px;
    text-align: center;
    font-family: OpenSans-Regular;
    font-size: 30px;
    color: #ffffff;
}
