@font-face {
    font-family: OpenSans-Regular;
    src: url(../fonts/OpenSans-Regular.ttf);
}

#login_main {
  height: 80%;
  background-color: yellow;
  background: url(../img/login_background.png) bottom no-repeat;
}

#login_smogate {
  margin-top: 30px;
}

#login_dragon {
  margin-left: -49px;
}

#login_main img {
    display: block;
}

#login_main > div {
  display: block;
  height: 100%;
      position: relative;
    top: 300px;
    left: 203px;
}

#middle {
  height: 5%;
  font-size: 30px;
  font-family: OpenSans-Regular;
  justify-content: center;
  color: rgba(255, 255, 255, 0.7);
}
#buttons {
  height: 15%;
}
#buttons img{
  height: 142px;
}
