#login_main {
  height: 80%;
  background-color: yellow;
  background: url(../img/login_background.png) bottom no-repeat;
}

#login_smogate {
  margin-top: 30px;
}

#login_dragon {
  margin-left: -49px;
}

#login_main > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

#middle {
  height: 5%;
  font-size: 27pt;
  display: flex;
  justify-content: center;
  color: rgba(255, 255, 255, 0.7);
}
#buttons {
  height: 15%;
  display: flex;
  justify-content: space-around;
}
#buttons img{
  height: 142px;
}
